.container {
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
}

.input-range__label--max {
    margin-right: 25px;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
